# Mac OS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.vscode
.agents/

# Dataset e file di grandi dimensioni
*.zip
*.tar.gz
dataset/
dataset_big/
splits/
crops/
crops_split/
checkpoints/
results/
src/runs/
src/pretrained_models/
src/*.pt
*.mov
*.mp4


# Python cache
__pycache__/
*.py[cod]
